.top {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  z-index: 99;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
}
.topLogo {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  line-height: 2;
  letter-spacing: 1.2px;
  color: teal;
}

.topLeft {
  flex: 3;
  display: flex;
  justify-content: center;
}
.topRight {
  flex: 3;
  display: flex;
  align-items: center;
}
.topCenter {
  flex: 6;
}
.topIcon {
  font-size: 20px;
  margin-right: 10px;
  color: #444;
  cursor: pointer;
}
.top .topImg {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.topList {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.topListItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}

.topSearchIcon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
  margin-left: 15px;
}
