.header {
  margin-top: 60px;
}
.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  color: #444;
}

.headerTitlesm {
  /* position: absolute; */
  /* top: 18%; */
  font-size: 25px;
}
.headerTitleLg {
  position: absolute;
  top: 20%;
  font-size: 100px;
}

.headerImg {
  width: 100%;
  height: 550px;
  margin-top: 10px;
  object-fit: cover;
}
